* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(186, 186, 180);
}
.backgroundDark {
  background-color: rgb(29, 29, 51);
  width: 100vh;
  height: 100vh;
  position: absolute;
  top: 0;
}

.red {
  color: red;
  background-color: black;
  width: max-content;
  padding: 1rem;
}
.girl {
  background: url(https://www.shutterstock.com/image-photo/beautiful-young-asian-woman-pointing-600nw-2341582245.jpg);
  height: 30rem;
  background-repeat: no-repeat;
  background-size: contain;
}

.dom-event {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: max-content;
}
.button-a {
  position: absolute;
  top: 0;
  margin: 10px;
  padding: 10px;
  color: red;
  background-color: black;
}

.event-listener {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.event-btn {
  position: absolute;
  color: red;
  background-color: black;
  width: 15rem;
  height: 5rem;
}
.event-p {
  font-size: 25px;
  position: absolute;
  top: 5rem;
  background-color: rgb(0, 152, 198);
}
.ul-pre {
  display: none;
}
.input-pre:focus ~ .ul-pre {
  display: block;
}
