/*➖♦️♣️🐧♂️♌❄️✨💎♦️♥️🔔🎧💊
////❄️❄️❄️❄️❄️❄️❄️❄️❄️❄️❄️❄️❄️❄️❄️❄️❄️❄️❄️❄️❄️❄️❄️
////✨✨✨✨✨✨✨✨
////💎💎💎💎💎💎💎💎💎💎💎💎💎💎
*/
* {
  margin: 0;
  padding: 0;
  background: rgb(45, 46, 93);
}
header {
  font-family: "Pixelify Sans", sans-serif;
}

.title {
  display: flex;
  justify-content: space-around;
  margin: auto;
  margin-top: 1rem;
  font-size: 3.5rem;
  width: max-content;
  padding: 0 1rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
h1 {
  /*background: #121fcf;
  background: linear-gradient(to right, #121fcf 0%, #e8efff 57%, #cf1512 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  */
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
    0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
  animation: pulsate 0.11s ease-in-out infinite alternate;
  -webkit-animation: pulsate 0.11s ease-in-out infinite alternate;
}
@keyframes pulsate {
  100% {
    /* Larger blur radius */
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #f09,
      0 0 50px #f09, 0 0 60px #f09, 0 0 100px #f09, 0 0 150px #f09;
  }
  0% {
    /* A slightly smaller blur radius */
    text-shadow: 0 0 4px #fff, 0 0 10px #fff, 0 0 18px #fff, 0 0 38px #f09,
      0 0 73px #f09, 0 0 80px #f09, 0 0 94px #f09, 0 0 140px #f09;
  }
}
